%h1= title

.filter
  %form{:method => 'post', :action => '/chant'}
    %input{:type => 'hidden', :name => 'filtered', :value => 'true'}

    %label
      Text
      %input{:type => 'text', :name => 'text', :value => filter[:text]}

    Typ
    %label
      %input{:type => 'checkbox', :name => 'type_ant', :value => 'true',
        :checked => filter[:chant_type].include?(:ant) ? 'checked' : nil}
      antifona
    %label
      %input{:type => 'checkbox', :name => 'type_resp', :value => 'true',
        :checked => filter[:chant_type].include?(:resp) ? 'checked' : nil}
      responsorium
    %label
      %input{:type => 'checkbox', :name => 'type_other', :value => 'true',
        :checked => filter[:chant_type].include?(:other) ? 'checked' : nil}
      jiné

    %br

    %label
      Zdrojový soubor
      %select{:name => 'src_path'}
        %option{:value => ''}
          všechny
        - files.each do |f|
          %option{:value => f, :selected => filter[:src_path] == f ? 'selected' : nil }
            = f

    %input{:type => 'submit', :value => 'Zobrazit'}

%ul
  - chants.each do |c|
    %li
      %a{:href => '/chant/'+c.id.to_s}= '#'+c.id.to_s
      = c.lyrics_cleaned
      - if c.chant_type == :ant then
        = '(antifona)'
      - elsif c.chant_type == :resp then
        = '(responsorium)'

%p
  (Celkem #{chants_count} položek)

.pager
  Strana:
  - 1.upto(pages) do |p|
    %a{:href => "/chant?page=#{p}"}<
      = p
