%h1= title

%ul
  - chants.each do |c|
    %li
      %a{:href => '/chant/'+c.id.to_s}= '#'+c.id.to_s
      = c.lyrics_cleaned
      - if c.chant_type == :ant then
        = '(antifona)'
      - elsif c.chant_type == :resp then
        = '(responsorium)'

%p
  (#{chants.size} položek)
