%h1= '#'+chant.id.to_s

%img{ :src => File.join('/chants', File.basename(chant.image_path)) }

%table.chant-detail
  %tbody
    %tr
      %td.h text
      %td= chant.lyrics_cleaned
    %tr
      %td.h typ
      %td
        = 'antifona' if chant.chant_type == :ant
        = 'responsorium' if chant.chant_type == :resp
    %tr
      %td.h modus
      %td= chant.header['modus']
    %tr
      %td.h differentia
      %td= chant.header['differentia']
    %tr
      %td.h{:rowspan => 2} soubor
      %td
        zde
        %a{:href => '/chantsrc/'+chant.src_path}
          = chant.src_path
    %tr
      %td
        github
        %a{:href => 'https://github.com/igneus/In-adiutorium/blob/master/'+chant.src_path, :target => '_blank'}
          = chant.src_path
    %tr
      %td.h zdroj
      %td
        %pre= chant.src
    %tr
      %td.h datum indexace
      %td= chant.created
